<h2 class="scroll_heading">About</h2>

<div class="mx-3">

  <p>
    I am Neng Shi (施能), a Ph.D. student in the Department of Computer Science and Engineering at <a href="https://www.osu.edu" target="_blank">The Ohio State University</a>.  I am part of the GRAphics and VIsualization sTudY (<a href="http://web.cse.ohio-state.edu/~shen.94/hwshen/Research.html" target="_blank">GRAVITY</a>) research group led by my advisor, <a href="http://web.cse.ohio-state.edu/~shen.94" target="_blank">Prof. Han-Wei Shen</a>.  Before joining The Ohio State University, I received my B.S. degree in Geographic Information Science from Zhejiang University in 2018. 
  </p>

  <h3>Research Interests</h3>

  <p>
     My research interests include data visualization and machine learning.
  </p>

</div>
