<h2 class="scroll_heading">About</h2>

<div class="mx-3">

  <p>
    I am Neng Shi (施能), a Ph.D. student in the Department of Computer Science and Engineering at <a href="https://www.osu.edu" target="_blank">The Ohio State University</a>.  I am part of the GRAphics and VIsualization sTudY (<a href="http://web.cse.ohio-state.edu/~shen.94/hwshen/Research.html" target="_blank">GRAVITY</a>) research group led by my advisor, <a href="http://web.cse.ohio-state.edu/~shen.94" target="_blank">Prof. Han-Wei Shen</a>.  Before joining The Ohio State University, I received my B.S. degree in Geographic Information Science from Zhejiang University in 2018. 
  </p>

  <h3>Research Interests</h3>

  <p>
     Broadly speaking, my research interests include data analysis and visualization, computer graphics, machine learning, and high performance computing. Specifically, my research mainly focus on large-scale scientific data visualization, ensemble simulation data visualization, unstructured data visualization with graph neural networks. 
  </p>

  <h3>Current Research Projects</h3>

  <ul>
    <li><p>
      Machine learning for data analysis and visualization
    </p></li>
  </ul>

</div>
