<h2 class="scroll_heading">Work Experience</h2>

<div class="mx-5">

  <div class="row mb-3">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/osu_logo.png" | relative_url }}" alt="osu-logo" class="img-fluid mb-3" width="120" height="81">
    </div>
    <div class="col-lg-10">
      <h3>The Ohio State University</h3>
      <h4>Research Assistant</h4>
      <p>Aug 2020 – Present</p>
      <h4>Visiting Scholar</h4>
      <p>Nov 2018 – May 2019</p>
      </p>
    </div>  </div>

  <div class="row mb-3">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/lanl_logo.jpg" | relative_url }}" alt="lanl-logo" class="img-fluid mb-3" width="120" height="81">
    </div>
    <div class="col-lg-10">
      <h3>Los Alamos National Laboratory</h3>
      <h4>Summer Research Assistant Intern</h4>
      <p>July 2020 – Aug 2020</p>
      </p>
    </div>  </div>

  <div class="row mb-3">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/jz_logo.png" | relative_url }}" alt="jz-logo" class="img-fluid mb-3" width="110" height="110">
    </div>
    <div class="col-lg-10">
      <h3>Jiuzhang Algorithm</h3>
      <h4>Teaching Assistant</h4>
      <p>July 2018 – Sept 2019</p>
      <p><em>Teaches algorithm and artificial intelligence</em></p>
    </div>
  </div>

  <div class="row  mb-3">
    <div class="col-lg-2">
      <img src="{{ "/assets/img/zju_logo.png" | relative_url }}" alt="zju-logo" class="img-fluid mb-3" width="110" height="110">
    </div>
    <div class="col-lg-10">
      <h3>State Key Lab of CAD&CG</h3>
      <h4>Undergraduate Research Assistant working with <a href="http://www.cad.zju.edu.cn/home/ybtao/" target="_blank">Dr. Yubo Tao</a></h4>
      <p>Mar 2017 – Nov 2018</p>
      <p><em>Worked on viewpoint estimation for volume visualization</em></p>
    </div>
  </div>

</div>
