<h2 class="scroll_heading">Publications</h2>

<ul>

  <li><p>
    <strong>Neng Shi</strong>, Jiayi Xu, Haoyu Li, Hanqi Guo, Jonathan Woodring, and Han-Wei Shen
    <br>
    VDL-Surrogate: A View-Dependent Latent-based Model for Parameter Space Exploration of Ensemble Simulations
    <br>
    <em>IEEE Transactions on Visualization and Computer Graphics (Proc. IEEE VIS 2022)</em>, 2022 (Accepted).
    <br>
    | DOI | arXiv | <a href="https://github.com/trainsn/VDL-Surrogate" target="_blank">GitHub</a> |
  </p></li>

  <li><p>
    <strong>Neng Shi</strong>, Jiayi Xu, Skylar W. Wurster, Hanqi Guo, Jonathan Woodring, Luke Van Roekel, and Han-Wei Shen
    <br>
    GNN-Surrogate: A Hierarchical and Adaptive Graph Neural Network for Parameter Space Exploration of Unstructured-Mesh Ocean Simulations
    <br>
    <em>IEEE Transactions on Visualization and Computer Graphics (Proc. IEEE PacificVis 2022, Acceptance Rate: 5/75=6.67%)</em>, 28(6):2301-2313, 2022.
    <br>
    | <a href="https://ieeexplore.ieee.org/document/9751203" target="_blank">DOI</a> | <a href="https://arxiv.org/abs/2202.08956" target="_blank">arXiv</a> | <a href="https://github.com/trainsn/GNN-Surrogate" target="_blank">GitHub</a> | <a href="https://www.youtube.com/watch?v=o4EBHKzkBzs&t=2s" target="_blank">Presentation</a> |
  </p></li>

  <li><p>
    <strong>Neng Shi</strong>, and Yubo Tao
    <br>
    CNNs based Viewpoint Estimation for Volume Visualization
    <br>
    <em>ACM Transactions on Intelligent Systems and Technology (TIST)</em>, Volume 10 Issue 3, May 2019
    <br>
    | <a href="https://dl.acm.org/citation.cfm?id=3309993" target="_blank">DOI</a> | <a href="https://arxiv.org/abs/1807.07449" target="_blank">arXiv</a> | 
  </p></li>

</ul>
