<h2 class="scroll_heading">Publications</h2>

<ul>

  <li><p>
    <strong>Neng Shi</strong>, Jiayi Xu, Skylar W. Wurster, Hanqi Guo, Jonathan Woodring, Luke Van Roekel, and Han-Wei Shen
    <br>
    GNN-Surrogate: A Hierarchical and Adaptive Graph Neural Network for Parameter Space Exploration of Unstructured-Mesh Ocean Simulations
    <br>
    <em>IEEE Transactions on Visualization and Computer Graphics</em>, 2022, Early Access
    <br>
    | <a href="https://github.com/trainsn/GNN-Surrogate" target="_blank">GitHub</a> | 
  </p></li>

  <li><p>
    <strong>Neng Shi</strong>, and Yubo Tao
    <br>
    CNNs based Viewpoint Estimation for Volume Visualization
    <br>
    <em>ACM Transactions on Intelligent Systems and Technology (TIST)</em>, Volume 10 Issue 3, May 2019
    <br>
    | <a href="https://dl.acm.org/citation.cfm?id=3309993" target="_blank">DOI</a> | <a href="https://arxiv.org/abs/1807.07449" target="_blank">PDF</a> | 
  </p></li>

</ul>
